<h3>Select a winery from the list above</h3>

<!-- Enter list of wineries near the location entered... -->
<!-- <p>  My dear, the answer to your question  <span><%= @question %></span>  is: </p>
<p><span><%= @answer %></span></p> -->
<p>Show list of wineries near you</p>
<!--sort them by distance and time travel  ; have a select item next to the winery for planner-->




<p>Wine trip planner button</p>
