<h3>Search Wineries Near You</h3>


<form action="/travellers/search_results" method="GET">

<p>
  <label>What is your current location:</label>
  <input type="text" placeholder="Enter your location" name="question">
</p>

<input type="submit" value="Find wineries near me: ">

</form>
