<!-- <h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p> -->

<!-- <div class="carousel">
  <a class="carousel-item" href="#one!"><img src="http://lorempixel.com/250/250/nature/1"></a>
  <a class="carousel-item" href="#two!"><img src="http://lorempixel.com/250/250/nature/2"></a>
  <a class="carousel-item" href="#three!"><img src="http://lorempixel.com/250/250/nature/3"></a>
  <a class="carousel-item" href="#four!"><img src="http://lorempixel.com/250/250/nature/4"></a>
  <a class="carousel-item" href="#five!"><img src="http://lorempixel.com/250/250/nature/5"></a>
</div> -->
<h2>Winery Tracker</h2>
<h5>The wine traveller's new best friend</h5>

<div class="carousel carousel-slider center" data-indicators="true">
  <div class="carousel-fixed-item center">
    <!-- <a class="btn waves-effect white grey-text darken-text-2">button</a> -->
  </div>
  <div class="carousel-item red white-text" href="#one!">
    <img src="http://www.stellenbosch.travel/sites/default/files/styles/member_gallery_large_610x367/public/member_images/Media%20browser/Kleine%20Zalze%20Vineyards%20lowres_0.jpg?itok=G0vZ-Hd-"> <!-- random image -->
    <div class="caption center-align">
      <h3>This is our big Tagline!</h3>
      <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
    </div>
  </div>
  <div class="carousel-item amber white-text" href="#two!">
    <img src="https://exploresideways.com/wp-content/uploads/Stellenbosch-landscape-e1471358871757-768x768.jpg"> <!-- random image -->
    <h2>Second Panel</h2>
    <p class="white-text">This is your second panel</p>
  </div>
  <div class="carousel-item green white-text" href="#three!">
    <img src="http://www.wineterroirs.com/images/2007/06/14/burgun_wine_route_clos_vougeot.jpg"> <!-- random image -->
    <h2>Third Panel</h2>
    <p class="white-text">This is your third panel</p>
  </div>
  <div class="carousel-item blue white-text" href="#four!">
    <img src="https://i.guim.co.uk/img/static/sys-images/Guardian/Pix/pictures/2015/4/16/1429205049021/c97f4f44-6a86-41d4-b1c3-09185045380c-2060x1236.jpeg?w=1125&q=55&auto=format&usm=12&fit=max&s=697c0012042f4f6ea1392a5b4c27f06d"> <!-- random image -->
    <h2>Fourth Panel</h2>
    <p class="white-text">This is your fourth panel</p>
  </div>
</div>
